.idea/
.vscode/
.DS_Store
bin
latex
graph
output
**~
gmon.out
out.txt
.s2ipconfig

.venv
analyses/*/data_original
analyses/*/data_prepared
analyses/*/results
benchmark_results
benchmark_analysis/*.html

.Rproj.user
.Rhistory
.RData
.Ruserdata
*.nb.html
